<ion-content [fullscreen]="true">
    <div class="container">
      <br>
      <br>
      <h1>Recent Notification:</h1>
      <div class="tabs">


        <div id="content1" class="tabcontent">

          <ul>
            
            <li><a href="#">Admissions for the new academic year are now open</a><span class="timestamp">April 18, 2023</span></li><br>
            <li><a href="#">Last date for submission of assignments is 30th April</a><span class="timestamp">April 18, 2023</span></li><br>
            <li><a href="#">MCA 1st year orientation program on 5th May</a><span class="timestamp">April 18, 2023</span></li><br>
            <li><a href="#">MCA 1st year orientation program on 5th May</a><span class="timestamp">April 18, 2023</span></li><br>
            <li><a href="#">MCA 1st year orientation program on 5th May</a><span class="timestamp">April 18, 2023</span></li><br>
            <li><a href="#">MCA 1st year orientation program on 5th May</a><span class="timestamp">April 18, 2023</span></li><br>
            <li><a href="#">MCA 1st year orientation program on 5th May</a><span class="timestamp">April 18, 2023</span></li><br>
            <li><a href="#">MCA 1st year orientation program on 5th May</a><span class="timestamp">April 18, 2023</span></li><br>

          </ul>
        </div>
      </div>
    </div>


</ion-content>
