ion-img {
  width: 25px;
  height: 25px;
  background-blend-mode: lighten;
}

ion-label {
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
}
