  .profile-details {
    display: none;
  }
  
  .profile-pic:hover + .profile-details {
    display: block;
  }
  
// .cardcss{
//   display: flex;
//   width: 90%;
//   height: 100%;
//   background-color: rgba(140, 239, 239, 0.258);
//   margin: auto;
//   padding: 10px;
// }  
// h3{
//   text-align: center;
//   text-decoration: underline;
//   font-style: italic;
//   font-family: 'Times New Roman', Times, serif;
// }
// section{
//   margin: 15px;
// }

// hr{
//   color: azure;
// }

// img{
//   width: 100%;
// }
.cardcss {
  display: flex;
  width: 90%;
  height: 100%;
  background-color: rgba(31, 32, 35, 0.705);
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(213, 139, 217);

  box-shadow: 0 0 5px #ccc;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

section {
  margin: 15px;
}

hr {
  color: azure;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;

}
